<HTML>
<BODY>
Provides the classes necessary to create User Interface components. This includes all
GUIPanes and their holders and controllers. The class is used for the start up screen so that
all GUI components can be stored and displayed. For example, when an editing session begins,
the JavaFX screen will contain the nodes for buttons and for the Scene.

The MainView class is called by Main from the application package. It contains the elements for
creating all of the GUIController components based on the current phase. This includes splash screen 
and eventually the editing screen. The definitions for the locations of JavaFX elements are defined in
.xml files.

</BODY>
</HTML>